<% provide(:title, 'Videos') %>

<div class="banner_unterseiten">
	<div class="container">
		<h1>Videos</h1>
	</div>
</div>

<div class="textarea_unterseiten container">
	<div class="row">
		<div class="span12">
			<h2>Ya watchin' da videos?!</h2>
		</div>
	</div>

	<div class="row">
	  <div class="span4">
	  	<h3>Some stuff here</h3>
	  	<p>
	  		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
	  	</p>
	  </div>

	  <div class="span4">
	  	<h3>More stuff</h3>
	  	<p>
	  		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
	  	</p>
	  </div>

	  <div class="span4">
	  	<h3>Da most stuff</h3>
	  	<p>
	  		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
	  	</p>
	  </div>
	</div>

	<div class="row levideo">
	    <div class="span8 offset2 center">
			<video class="sublime" poster="http://media.jilion.com/vcg/ms_800.jpg" width="640" height="360" data-name="Midnight Sun" data-uid="57fb2708" preload="none">
			  <source src="http://media.jilion.com/vcg/ms_360p.mp4" />
			  <source src="http://media.jilion.com/vcg/ms_720p.mp4" data-quality="hd" />
			  <source src="http://media.jilion.com/vcg/ms_360p.webm" />
			  <source src="http://media.jilion.com/vcg/ms_720p.webm" data-quality="hd" />
			</video>
		</div>
	</div>
	<div class="row levideo">
		<div class="span8 offset2 center">
			<video 	controls
					width="480" height="360"
					poster="default.png"
					id="video">
					<source src="Thundershow.mp4" />
				  <source src="Thundershow.webm" />
					</video>
		</div>
	</div>
</div>