<footer class="footer">
  <div class="container">
    <small>
      copyright VIDEO APP 2012
    </small>
    <nav>
      <ul class="footer-rechts">
        <li><%= link_to "HOME |", root_path %></li>
        <li><%= link_to "VIDEOS |", videos_path %></li>
        <li><%= link_to "STUFF |", stuff_path %></li>
      </ul>
    </nav>
  </div>
</footer>