<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
    	<div class="container">
    		<%= link_to "VIDEO APP", root_path, id: "logo" %>
     		<nav>
				<ul class="nav pull-right">
					<li><%= link_to "HOME", root_path %></li>
					<li><%= link_to "VIDEOS", videos_path %></li>
					<li><%= link_to "STUFF", stuff_path %></li>
				</ul>
			</nav>
		</div>
  </div>
</header>